<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.execFactories">
      <execFactory
            class="org.eclipse.debug.terminal.PtyExecFactory"
            id="org.eclipse.debug.terminal.execFactory"
            priority="100">
      </execFactory>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="org.eclipse.debug.terminal.PtyProcessFactory"
            id="org.eclipse.debug.terminal.processFactory">
      </processFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.eclipse.debug.terminal.ui.TerminalConsoleFactory"
            icon="icons/console_view.svg"
            label="Terminal">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.debug.terminal.TerminalConsolePageParticipant"
            id="org.eclipse.debug.terminal.consolePageParticipant">
         <enablement>
            <test property="org.eclipse.ui.console.consoleTypeTest" value="terminalConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>

</plugin>
