/.project
ant/org.eclipse.ant.tests.core/anttestscore.jar
ant/org.eclipse.ant.tests.ui/anttestsui.jar
platform/org.eclipse.platform/platform.jar
platform/org.eclipse.platform/bin-intro/
platform/org.eclipse.platform/bin-intro/
*~
*.rej
*.bak
*.patch
javacore.*
heapdump.*
core.*
Snap.*
bin/
*~
*.rej
*.bak
*.patch
javacore.*
heapdump.*
core.*
Snap.*
target/
.DS_Store
.polyglot.*
pom.tycho

# Entries from UA, not yet cleaned up after the merge
*/bin/
*/bin2/
*~
*.rej
*.bak
javacore.*
heapdump.*
core.*
Snap.*

# maven
/*/target/
.DS_Store
/target/
