<?xml version="1.0" encoding="UTF-8"?>
 <?eclipse version="4.3"?>
<!--
    Copyright (c) 2023 Security Team

    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        <Java Joe> Joe@Schiavone.org
 -->

<plugin 
	id="org.eclipse.core.pki.id" 
	name="Eclipse Core PKI"
    version="1.0.3.qualifier">	
	<extension point="org.eclipse.ui.startup">
		<startup class="org.eclipse.core.pki.auth.PKISetup"/>
	</extension>
	<!--
	<extension
       id="PASSWD_LOCK_ID"
       point="org.eclipse.core.runtime.products">
    	<product
          application="MarketplacePKI.product1"
          description="Lock Image file"
          icon="platform:/plugin/org.eclipse.core.pki/icons/icons8-password-48.png"
          name="PasswordLock">  
    	</product>
 	</extension>
	-->
</plugin>
