<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.ui.net.NetPreferences"
            class="org.eclipse.pki.preferences.PreferencePage"
            id="org.eclipse.preferences.pkcs"
            name="X.509 PKI Setup">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.startup">
		<authenticator
			class="org.eclipse.core.pki.AuthenticationBase">
		</authenticator>
	</extension>

</plugin>
