<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.ui.net.NetPreferences"
            class="org.eclipse.pki.preferences.PreferencePage"
            id="org.eclipse.preferences.pkcs"
            name="Java KeyStore Setup">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.startup">
		<startup
			class="org.eclipse.pki.auth.PKIController">
		</startup>
	</extension>

</plugin>
