<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.buildmonitor.BuildMonitorView"
            id="org.eclipse.ui.buildmonitor.BuildMonitorView"
            icon="icons/full/etool16/build_exec.png"
            name="%BuildMonitorView.name">
      </view>
   </extension>
</plugin>
